body{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

section{
    display:inline-block;
    background-color: crimson;
    width: 20rem;
    height: 15rem;
    margin-top:10rem;
    border-radius:2rem;
}

.pass{
    margin-top:25px;
}

.pass input{
    width:18rem;
    height:25px;
    border-radius:3rem;
    border: none;
    text-align: center;
}

.pass button{
    width: 10rem;
    height:25px;
    border-radius:2rem;
    border:none;
}

.pass button:hover{
    background-color: black;
    color:whitesmoke;
}
