* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body
 {
    background-color: #f4f4f4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;

}

.container 
{
    text-align: center;
}

h1 
{
    color: #4CAF50;
    margin-bottom: 20px;
}

.menu-item 
{
    margin: 20px 0;
}

.menu-item a
{
    text-decoration: none;
    color: #333;
    display: inline-block;
    text-align: center;
}

.menu-item i 
{
    color: #4CAF50;
}

.menu-item p 
{
    font-size: 18px;
    margin-top: 10px;
}
