body{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

section{
    margin-top: 10rem;
    background-color: crimson;
    display:inline-block;
    width: 20rem;
    height: 15rem;
    border-radius: 2rem;
}

input{
    width:18rem;
    height: 22px;
    text-align: center;
    border-radius:3rem;
    border: none;
}

button{
    width: 10rem;
    height: 28px;
    border-radius:3rem;
    border:none;
}

button:hover{
    background-color: blue;
    color: aliceblue;
}

div{
    margin-top:2rem;
}

.n{
    margin-top:3rem;
}